:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 85%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: [row1-start] 27.5em [row1-end] 27.5em;
  gap: 3em;
  width: 105em;
  height: auto;
  margin: 10em auto;
  border-radius: 1em;
}
.main__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1.5em;
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0px 10px 10px rgb(192, 192, 192);
  box-shadow: 5px 15px 2em rgb(216, 216, 216);
  transition: all ease-in-out 0.3s;
}
.main__item__data {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
  align-items: center;
}
.main__item__data__profile .image {
  border-radius: 50%;
  border: 3px hsla(0, 0%, 85%, 0.507) solid;
}
.main__item__data__profile .image img {
  border-radius: 50%;
  width: 3.3em;
  display: block;
}
.main__item__data__name p {
  padding-top: 0.3em;
  color: hsla(0, 0%, 85%, 0.507);
  font-size: 1.1em;
}
.main__item__text {
  display: flex;
  flex-flow: column wrap;
}
.main__item__text h2 {
  font-size: 1.9em;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 0.8em;
}
.main__item__text p {
  color: hsla(0, 0%, 85%, 0.705);
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}
.main__item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.main .item-1 {
  background-color: var(--moderate-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 81%;
  background-size: 11em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.main .item-1 h4 {
  color: var(--light-gray);
  font-size: 1.35em;
  font-weight: 600;
}
.main .item-2 {
  background-color: var(--very-dark-grayish-blue);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.main .item-2 h4 {
  color: var(--light-gray);
  font-size: 1.35em;
  font-weight: 600;
}
.main .item-2 .image {
  border: none;
}
.main .item-3 {
  background-color: var(--white);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.main .item-3 h4 {
  color: var(--very-dark-blackish-blue);
  font-size: 1.35em;
  font-weight: 600;
}
.main .item-3 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}
.main .item-3 .image {
  border: none;
}
.main .item-3 .text-3 h2 {
  font-size: 1.9em;
  font-weight: 600;
  color: var(--very-dark-blackish-blue);
  padding-bottom: 1.3em;
}
.main .item-3 .text-3 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.4em;
  text-align: left;
}
.main .item-4 {
  background-color: var(--white);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.main .item-4 h4 {
  color: var(--very-dark-blackish-blue);
  font-size: 1.35em;
  font-weight: 600;
}
.main .item-4 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}
.main .item-4 .image {
  border: none;
}
.main .item-4 .text-4 h2 {
  font-size: 2em;
  font-weight: 600;
  color: var(--very-dark-blackish-blue);
  padding-bottom: 1.3em;
}
.main .item-4 .text-4 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.4em;
  text-align: left;
}
.main .item-5 {
  background-color: var(--very-dark-blackish-blue);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.main .item-5 h4 {
  color: var(--light-gray);
  font-size: 1.35em;
  font-weight: 600;
}
.main .item-5 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}
.main .item-5 .image {
  border-radius: 50%;
  border: 3px var(--moderate-violet) solid;
}
.main .item-5 .image img {
  border-radius: 50%;
  width: 3.3em;
  display: block;
}
.main .item-5 .text-5 h2 {
  font-size: 1.9em;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 1.3em;
}
.main .item-5 .text-5 p {
  color: hsla(0, 0%, 62%, 0.705);
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}

.attribution {
  display: flex;
  padding: 1em;
  font-size: 1.3em;
  gap: 0.5em;
}
.attribution a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
}

@media only screen and (max-width: 1434px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25em 25em 25em 25em;
    width: 80em;
  }
  .main__item:hover {
    transform: scale(1.02);
  }
  .main .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .main .item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .item-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media only screen and (max-width: 1075px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30em 30em 30em 30em;
    width: 55em;
  }
  .main__item:hover {
    transform: scale(1);
  }
}
@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 45em 25em 50em 25em 45em;
    width: 27em;
    margin: 3em auto;
  }
  .main .item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .main .item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .main .item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .attribution {
    display: flex;
    flex-direction: column;
  }
  .attribution p {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=style.css.map */